.ContentAboutMePages {
    position: absolute;
    top: 100%;
    width: auto;
    background: whitesmoke;
    height: 100%;
    text-align: justify;
}

.backgroundImgAboutMe {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 300%;
}

.ContentAboutMePages h1 {
    padding-top: 1em;
    text-align: center;
    font-size: 32px;
}

.centerContentAboutMePages {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: calc(100% - 80px - 32px);
    margin: auto
}

.leftAboutMe {
    display: flex;
    align-items: center;
    padding-left: 10em;
}

.imgProfil {
    width: 300px;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
}

.rightAboutMe {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;

}

.rightAboutMe h1 {
    font-size: 24px;
}

.rightAboutMe h3 {
    width: 50%;
    line-height: 1.2em;
    color: grey;
    padding-top: 3em;
}

.Separator {
    position: absolute;
    z-index: 1;
    top: calc(0px + 2em + 24px);
    width: 50%;
    height: 6px;
    background: linear-gradient(90deg, rgba(42, 42, 60, 1) 0%, rgba(255, 255, 255, 0) 85%);
}

.Separator2 {
    position: absolute;
    z-index: 1;
    top: calc(0px + 2em + 24px);
    width: 50%;
    height: 6px;
    background: linear-gradient(90deg, rgba(42, 42, 60, 1) 0%, rgba(255, 255, 255, 0) 85%);
}

.SecondContentAboutMePages {
    position: absolute;
    top: 200%;
    width: 100%;
    background: whitesmoke;
    height: 100%;
    text-align: justify;
}

.SecondContentAboutMePages h1 {
    padding-top: 1em;
    text-align: center;
    font-size: 32px;
}

.centerSecondContentAboutMePages {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: calc(100vh - 32px - 2em);
}

.centerSecondContentAboutMePages div {
    width: 25%;
}

.centerSecondContentAboutMePages div h3 {
    width: 100%;
    line-height: 1.2em;
    color: grey;
    padding-top: 3em;
}

.imgHobbies {
    width: 50%;
}

.LastContentAboutMePages {
    position: absolute;
    top: 300%;
    width: 100%;
    background: whitesmoke;
    height: 100%;
    text-align: justify;
}

.LastContentAboutMePages h1 {
    padding-top: 1em;
    text-align: center;
    font-size: 32px;
}

.Number {
    font-size: 48px;
    color: coral;
}

.Separator3 {
    position: absolute;
    z-index: 1;
    top: calc(0px + 2em + 24px);
    width: 50%;
    height: 6px;
    background: linear-gradient(90deg, rgba(42, 42, 60, 1) 0%, rgba(255, 255, 255, 0) 85%);
}

.centerLastContentAboutMePages {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: calc(100vh - 48px - 2em);
    width: 80%;
    margin: auto;
}

.Front-end, .Back-end, .Autres {
    width: calc(100% / 3 - 150px);
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 15px var(--bg-color);
    padding: 2em;
    border-radius: 10px;
}

.Other, .Design {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.ContentHobbies {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    box-shadow: 0 0 15px var(--bg-color);
    border-radius: 10px;
    height: 550px;

}

.mt-2 {
    margin-top: 2em;
}

@media screen and (max-width: 850px) {
    .Separator2, .Separator3 {
        width: 20%;
    }

    .ContentAboutMePages, .SecondContentAboutMePages, .LastContentAboutMePages {
        height: unset;
        position: relative;
        top: 0;
    }

    .ContentAboutMePages {
        height: 100%;
    }

    .centerContentAboutMePages {
        display: flex;
        flex-direction: column;

    }

    .imgProfil {
        width: 50%;
        height: unset;
    }

    .leftAboutMe {
        padding-left: 0;
        justify-content: center;
        margin-top: 2em;

    }

    .rightAboutMe h3 {
        width: 100%;
        padding-top: 2em;
    }

    .centerSecondContentAboutMePages {
        flex-direction: column;
        height: unset;
    }

    .centerSecondContentAboutMePages div {
        flex-direction: column;
        width: 75%;
    }

    .ContentHobbies {
        margin: 2em;
    }

    .centerLastContentAboutMePages {
        display: flex;
        flex-direction: column;
        height: unset;
    }

    .Front-end, .Back-end, .Autres {
        margin: 2em;
        width: 75%;
    }
}