.middlePageHome3 {
    position: absolute;
    /*top:200%;*/
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.ContainerAboutMe {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Present2 {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    height: 300px;
    width: 500px;
    padding-left: 250px;
    color: var(--white);

}

.Present2 h1 {
    font-size: 44px;
}

.Present2 h2 {
    margin-top: 25px;
    font-size: 28px;
    margin-left: 50px;
    text-shadow: 4px 4px 10px #000000;
}

.Present2 div a {
    margin-top: 50px;
    width: 200px;
    height: 50px;
    color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 2px solid;
    line-height: 1;
    transition: 0.25s;
}

.Present2 div a:hover {
    box-shadow: inset 0 0 0 2em var(--secondary-color);
    color: white;

}

.AboutMeImg {
    z-index: 0;
    width: 65%;
    border-radius: 50px;
    position: absolute;
    right: 0;

}

.line3 {
    position: absolute;
    z-index: 0;
    top: 300%;
    width: 100%;
    height: 6px;
    background: linear-gradient(-90deg, rgba(42, 42, 60, 0) 0%, rgba(255, 255, 255, 100) 50%, rgba(42, 42, 60, 0) 100%);
}

@media screen and (max-width: 850px) {
    .ContainerAboutMe {
        display: flex;
        justify-content: center;
    }

    .Present2 {
        width: 80%;
        padding: 0;
    }

    .Present2 h1 {
        text-shadow: 4px 4px 10px #000000;
    }

    .AboutMeImg {
        width: 100%;
        position: absolute;
        top: 5%;
    }

    .Present2 div a {
        width: unset;
        background: white;
    }
}
