.ContainerFooter {
    position: relative;
    top: 300%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: flex-end;

}

.link {
    cursor: pointer;
    font-size: 18px;
    position: relative;
    white-space: nowrap;
    color: var(--secondary-color);
}

.link::before,
.link::after {
    position: absolute;
    width: 100%;
    height: 2px;
    background: currentColor;
    top: 100%;
    left: 0;
    pointer-events: none;
}

.link::before {
    content: '';
}

.link--metis {
    font-family: bely-display, sans-serif;
    text-transform: lowercase;
}

.link--metis::before {
    transform-origin: 100% 50%;
    transform: scale3d(0, 1, 1);
    transition: transform 0.3s;
}

.link--metis:hover::before {
    transform-origin: 0% 50%;
    transform: scale3d(1, 1, 1);
}

.footer {
    position: absolute;
    bottom: -300px;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}


.ContainerFooter2 {
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.leftFooter {
    color: var(--white);
    margin-top: 200px;
    width: 600px;
}

.leftFooter h1 {
    line-height: 2em;
}

.RightFooter {
    margin-top: 100px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
}

#FormContact * {
    border: none;
    outline: none;
}

#FormContact label {
    color: var(--white)
}

#FormContact input, #FormContact label, #FormContact textarea {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 400px;
    padding: 10px;
    border-radius: 25px;
    resize: none;
}

#FormContact button {
    width: 100px;
    height: 35px;
    border-radius: 25px;
}

.btnFooter {
    display: flex;
    justify-content: flex-end;
}

.copy {
    color: var(--white);
    display: flex;
    justify-self: center;
    position: absolute;
    top: 97%;
    left: calc((100% / 2) - 99px);
    z-index: 4;

}