.middlePageHome2{
    position: absolute;
    top:100vh;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    /*background: red;*/
    display: flex;
    align-items: center;
}
.Present{
    position: absolute;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 200px;
    width: 500px;
    margin-left: 200px ;
    color: var(--white);

}

.Present h1{
    font-size: 44px;
}

.Present h2{
    margin-top: 25px;
    font-size: 28px;
    margin-left: 50px;
    text-shadow: 4px 4px 10px #000000;
}

.Present div a {
    margin-top:50px ;
    width: 200px;
    height: 50px;
    background: #61dafb;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
}

.planet2{
    position:absolute;
    top:400px
}

.ProjectImg{
    position:absolute;
    top:-25vh;
    z-index: 0;
    width: 1200px;
    margin-left: 320px;
    border-radius: 50px;

}
.containerProject{
    position: absolute;
    height: 100vh;
    display: flex;
    align-items: center;
}

.underTitle{
    margin-top: 10px;
    width: 40%;
}

.line2{
    position: absolute;
    z-index: 0;
    top: 200vh;
    width: 100vw;
    height: 6px;
    background: linear-gradient(-90deg,rgba(42,42,60,0)0%,rgba(255,255,255,100)50%,rgba(42,42,60,0)100%);
}

.planet3{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    z-index: 1;
    top: 160vh;
    right: 0;
}
.planet3 img{
    width: 75%;
}

