.card{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin-bottom: 3em;
    border: 1px solid lightgrey;
    border-radius: 10px;
    height: 200px;
    min-width: 0;
}

.card-body{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*align-items: center;*/
    margin-left: 2em;

}
.card-body div{
    display: flex;
    justify-content: center;

}

.card-title{
    margin-top:1em ;
    text-align: center;
}

.card-subtitle{
    color:gray;
    font-weight: lighter;
    font-style: italic;
    margin-right: 2em;
    display: flex;
    justify-content: flex-end;
}


.card-text{
    width: 75%;
    font-weight: lighter;
}

.card-footer{
    display: flex;
    justify-content: flex-end !important;
}

.card-link{
    background: none;
    border: 2px solid;
    border-radius: 10px;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 0.5em 1em;
    color: var(--secondary-color);
    transition: 0.25s;
}
.card-link:hover{
    box-shadow: inset 0 0 0 2em var(--secondary-color);
    color:white;
}