.container {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 1.5em;
}

.logo{
    width: 50%;
}
.spacing {
    margin-right: 2em;
}
