.ProgressContainer{
    display: flex;
    align-items: center;
    padding-top: 2em;
}

.imgProgressBar{
    width:48px;
    height: 48px;
    object-fit: contain;
    padding-right:1em;
}

.progressBar{
    width: 100%;
}