.ContentProjects {
    position: absolute;
    top: 100%;
    width: 100%;
    background: whitesmoke;
    /*height: 100%;*/
    text-align: justify;
}

.ContentProjects h1 {
    padding-top: 1em;
    text-align: center;
    font-size: 32px;
}

.centerContentProjects {
    display: flex;
    justify-content: center;
    align-items: center;
}

.here {
    display: flex;
    flex-direction: column;
    margin-top: 2em;

}

@media screen and (max-width: 850px) {
    .Separator {
        width: 25%;
    }

    .ContentProjects {
        width: 100%;
    }
}